input[type='radio'] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.descContainer {
  margin-left: 16%;
  margin-right: 16%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: bold;
}

.left {
  float: left;
}

.right {
  float: right;
}
